ANDROID_ENVS=()

IOS_ENVS=()

CODE_PUSH_ANDROID_CMD=""

CODE_PUSH_IOS_CMD=""

#======================================
# Exmaple:
#======================================

# BUNDLE_ZIP_NAME=MiniAppName_Module.zip

# ANDROID_ENVS=(
#     [0]=Dev
#     [1]=Testing
#     [2]=Staging 
#     [3]=Production
# )

# IOS_ENVS=(
#     [0]=Dev 
#     [1]=Testing  
#     [2]=Staging 
#     [3]=Production
# )

# CODE_PUSH_ANDROID_CMD="appcenter codepush release-react -a MiniAppName-Android"
# CODE_PUSH_IOS_CMD="appcenter codepush release-react -a MiniAppName-IOS"